### Data Exploration and Preprocessing

In [1]:
import pandas as pd
import numpy as np
from collections import Counter

Membaca dataset

In [2]:
df= pd.read_csv('gaikindo6.csv', na_values=['-','0'])

df

,CAR TYPE,CC AND FUEL TYPE,ASSEMBLER,BRAND,TYPE / MODEL,CC,TRANS,FUEL (G/D),TANK CAPT,GVW (Kg),...,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Segmt Share,Sedan Share,TOTAL 2020
0,SEDAN TYPE,CC < 1.500 [G/D],PT. Toyota Motor Mftg Indonesia,TOYOTA,VIOS D (LOW GRADE),1500,MT,G,42.0,1080,...,NaN,NaN,1.0,4.000,NaN,NaN,NaN,"0,0%","0,0%",10.000
1,NaN,NaN,NaN,NaN,VIOS R (MID GRADE),1500,MT,G,42.0,1080,...,10.0,NaN,NaN,NaN,NaN,NaN,NaN,"0,0%","0,0%",10.000
2,NaN,NaN,NaN,NaN,VIOS D (LOW GRADE),1500,CVT,G,42.0,1080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"0,0%","0,0%",5.000
3,NaN,NaN,NaN,NaN,VIOS R (MID GRADE),1500,CVT,G,42.0,1080,...,44.0,170.0,NaN,37.000,104.00,95.000,NaN,"3,6%","3,4%",828.000
4,NaN,NaN,NaN,NaN,VIOS G (HIGH GRADE),1500,CVT,G,42.0,1080,...,10.0,7.0,NaN,NaN,NaN,NaN,NaN,"0,6%","0,6%",148.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,NaN,NaN,NaN,NaN,CALYA (3R),1200,NaN,G,NaN,NaN,...,NaN,1.0,146.0,431.000,98.00,1.000,23.00,"1,0%","1,0%",1.257
487,NaN,NaN,NaN,NaN,CALYA (3S),1200,NaN,G,NaN,NaN,...,NaN,2.0,147.0,177.000,94.00,9.000,96.00,"0,7%","0,7%",903.000
488,NaN,NaN,NaN,NaN,CALYA (3T),1200,NaN,G,NaN,NaN,...,NaN,1.0,141.0,1.994,1.39,1.297,1.26,"10,9%","10,9%",13.506
489,NaN,NaN,NaN,NaN,CALYA (3V),1200,NaN,G,NaN,NaN,...,NaN,3.0,327.0,525.000,814.00,250.000,477.00,"1,9%","1,9%",2.396
490,NaN,NaN,NaN,NaN,CALYA (3W),1200,NaN,G,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,1%","2,1%",2.606

Menampilkan shape (baris x kolom) dari df

In [3]:
df.shape

(491, 38)

Menampilkan kolom-kolom dari df

In [4]:
df.columns

Index(['CAR TYPE', 'CC AND FUEL TYPE', 'ASSEMBLER', 'BRAND', 'TYPE / MODEL',
       'CC', 'TRANS', 'FUEL (G/D)', 'TANK CAPT', 'GVW (Kg)', 'GEAR RATIO',
       'WHEEL & TYRE SIZE', 'PS / HP', 'WHEEL BASE', 'DIMENSION P x L x T',
       'SEATER', 'DRIVE SYS.', 'Unnamed: 17', 'SPEED', 'DOOR', 'WHEELS', 'CBU',
       'ORIGIN COUNTRY', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL',
       'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'Segmt Share', 'Sedan Share',
       'TOTAL 2020'],
      dtype='object')

Kita tidak membutuhkan data penjualan per bulan maupun per tahun, maka kita menghapus kolom-kolom tersebut

In [5]:
df= df.loc[:,:'ORIGIN COUNTRY']

df

,CAR TYPE,CC AND FUEL TYPE,ASSEMBLER,BRAND,TYPE / MODEL,CC,TRANS,FUEL (G/D),TANK CAPT,GVW (Kg),...,WHEEL BASE,DIMENSION P x L x T,SEATER,DRIVE SYS.,Unnamed: 17,SPEED,DOOR,WHEELS,CBU,ORIGIN COUNTRY
0,SEDAN TYPE,CC < 1.500 [G/D],PT. Toyota Motor Mftg Indonesia,TOYOTA,VIOS D (LOW GRADE),1500,MT,G,42.0,1080,...,2550,4410X1700X1475,5,4X2,FF,NaN,4.0,4,CKD,INA
1,NaN,NaN,NaN,NaN,VIOS R (MID GRADE),1500,MT,G,42.0,1080,...,2550,4410X1700X1475,5,4X2,FF,NaN,4.0,4,CKD,INA
2,NaN,NaN,NaN,NaN,VIOS D (LOW GRADE),1500,CVT,G,42.0,1080,...,2550,4410X1700X1475,5,4X2,FF,NaN,4.0,4,CKD,INA
3,NaN,NaN,NaN,NaN,VIOS R (MID GRADE),1500,CVT,G,42.0,1080,...,2550,4410X1700X1475,5,4X2,FF,NaN,4.0,4,CKD,INA
4,NaN,NaN,NaN,NaN,VIOS G (HIGH GRADE),1500,CVT,G,42.0,1080,...,2550,4410X1700X1475,5,4X2,FF,NaN,4.0,4,CKD,INA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,NaN,NaN,NaN,NaN,CALYA (3R),1200,NaN,G,NaN,NaN,...,2525,NaN,7,4X2,FR,4.0,4.0,4,CKD,INA
487,NaN,NaN,NaN,NaN,CALYA (3S),1200,NaN,G,NaN,NaN,...,2525,NaN,7,4X2,FR,4.0,4.0,4,CKD,INA
488,NaN,NaN,NaN,NaN,CALYA (3T),1200,NaN,G,NaN,NaN,...,2525,NaN,7,4X2,FR,4.0,4.0,4,CKD,INA
489,NaN,NaN,NaN,NaN,CALYA (3V),1200,NaN,G,NaN,NaN,...,2525,NaN,7,4X2,FR,4.0,4.0,4,CKD,INA
490,NaN,NaN,NaN,NaN,CALYA (3W),1200,NaN,G,NaN,NaN,...,2525,NaN,7,4X2,FR,4.0,4.0,4,CKD,INA

In [6]:
df.isna().sum()

CAR TYPE               484
CC AND FUEL TYPE       477
ASSEMBLER              438
BRAND                  438
TYPE / MODEL             0
CC                      55
TRANS                   65
FUEL (G/D)               2
TANK CAPT              108
GVW (Kg)               138
GEAR RATIO             182
WHEEL & TYRE SIZE       95
PS / HP                109
WHEEL BASE             106
DIMENSION P x L x T    107
SEATER                  89
DRIVE SYS.               1
Unnamed: 17              6
SPEED                  369
DOOR                    13
WHEELS                   0
CBU                      0
ORIGIN COUNTRY           3
dtype: int64

Menghapus kolom-kolom lain yang bersifat redundant, memiliki terlalu banyak nilai NaN atau tidak berpengaruh pada model

In [7]:
df.drop(['CC AND FUEL TYPE', 'ASSEMBLER', 'GEAR RATIO', 'PS / HP', 'WHEEL BASE', 'Unnamed: 17', 'CBU', 'ORIGIN COUNTRY','SPEED','WHEEL & TYRE SIZE'], axis=1, inplace=True)

df

,CAR TYPE,BRAND,TYPE / MODEL,CC,TRANS,FUEL (G/D),TANK CAPT,GVW (Kg),DIMENSION P x L x T,SEATER,DRIVE SYS.,DOOR,WHEELS
0,SEDAN TYPE,TOYOTA,VIOS D (LOW GRADE),1500,MT,G,42.0,1080,4410X1700X1475,5,4X2,4.0,4
1,NaN,NaN,VIOS R (MID GRADE),1500,MT,G,42.0,1080,4410X1700X1475,5,4X2,4.0,4
2,NaN,NaN,VIOS D (LOW GRADE),1500,CVT,G,42.0,1080,4410X1700X1475,5,4X2,4.0,4
3,NaN,NaN,VIOS R (MID GRADE),1500,CVT,G,42.0,1080,4410X1700X1475,5,4X2,4.0,4
4,NaN,NaN,VIOS G (HIGH GRADE),1500,CVT,G,42.0,1080,4410X1700X1475,5,4X2,4.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,NaN,NaN,CALYA (3R),1200,NaN,G,NaN,NaN,NaN,7,4X2,4.0,4
487,NaN,NaN,CALYA (3S),1200,NaN,G,NaN,NaN,NaN,7,4X2,4.0,4
488,NaN,NaN,CALYA (3T),1200,NaN,G,NaN,NaN,NaN,7,4X2,4.0,4
489,NaN,NaN,CALYA (3V),1200,NaN,G,NaN,NaN,NaN,7,4X2,4.0,4
490,NaN,NaN,CALYA (3W),1200,NaN,G,NaN,NaN,NaN,7,4X2,4.0,4

Menampilkan deskripsi statistik df yang sekarang

In [8]:
df.describe()

        TANK CAPT        DOOR      WHEELS
count  383.000000  478.000000  491.000000
mean    73.929504    3.937238    4.696538
std     61.845930    1.240576    1.609781
min     33.000000    2.000000    4.000000
25%     45.000000    2.000000    4.000000
50%     50.000000    4.000000    4.000000
75%     80.000000    5.000000    4.000000
max    405.000000    5.000000   10.000000

Handle Missing Value

Meng-copy ke bawah data car type dan brand. Maksudnya jika nilai car type atau brand suatu baris adalah NaN, maka baris tersebut akan menyalin nilai car type atau brand di atasnya

In [9]:
def copy_data_down(col):
    temp_brand= ''

    for i in df.index:
        if(df.loc[i, col] is not np.nan):
            temp_brand= df.loc[i, col]
        else:
            df.loc[i, col]= temp_brand

In [10]:
copy_data_down('CAR TYPE')
copy_data_down('BRAND')

Lalu menampilkan 20 baris pertama pada df yang telah diubah

In [11]:
df.head(20)

,CAR TYPE,BRAND,TYPE / MODEL,CC,TRANS,FUEL (G/D),TANK CAPT,GVW (Kg),DIMENSION P x L x T,SEATER,DRIVE SYS.,DOOR,WHEELS
0,SEDAN TYPE,TOYOTA,VIOS D (LOW GRADE),1500,MT,G,42.0,1080,4410X1700X1475,5,4X2,4.0,4
1,SEDAN TYPE,TOYOTA,VIOS R (MID GRADE),1500,MT,G,42.0,1080,4410X1700X1475,5,4X2,4.0,4
2,SEDAN TYPE,TOYOTA,VIOS D (LOW GRADE),1500,CVT,G,42.0,1080,4410X1700X1475,5,4X2,4.0,4
3,SEDAN TYPE,TOYOTA,VIOS R (MID GRADE),1500,CVT,G,42.0,1080,4410X1700X1475,5,4X2,4.0,4
4,SEDAN TYPE,TOYOTA,VIOS G (HIGH GRADE),1500,CVT,G,42.0,1080,4410X1700X1475,5,4X2,4.0,4
5,SEDAN TYPE,TOYOTA,VIOS R (MID GRADE),1500,CVT,G,42.0,1080,4410X1700X1475,5,4X2,4.0,4
6,SEDAN TYPE,TOYOTA,VIOS D (LOW GRADE),1500,MT,G,42.0,1080,4410X1700X1475,5,4X2,4.0,4
7,SEDAN TYPE,TOYOTA,VIOS G (HIGH GRADE),1500,MT,G,42.0,1080,4410X1700X1475,5,4X2,4.0,4
8,SEDAN TYPE,TOYOTA,VIOS R (MID GRADE),1500,MT,G,42.0,1080,4410X1700X1475,5,4X2,4.0,4
9,SEDAN TYPE,TOYOTA,VIOS G (HIGH GRADE),1500,CVT,G,42.0,1080,4410X1700X1475,5,4X2,4.0,4
10,SEDAN TYPE,TOYOTA,VIOS R (MID GRADE),1500,CVT,G,42.0,1080,4410X1700X1475,5,4X2,4.0,4
11,SEDAN TYPE,BMW,BMW 320,1995,AT,G,NaN,NaN,NaN,NaN,4X2,4.0,4
12,SEDAN TYPE,BMW,BMW 328/330,2497,AT,G,NaN,NaN,NaN,NaN,4X2,4.0,4
13,SEDAN TYPE,BMW,BMW 520,2000,AT,G,NaN,NaN,NaN,NaN,4X4,4.0,4
14,SEDAN TYPE,BMW,BMW 528/530,3000,AT,G,NaN,NaN,NaN,NaN,4X4,4.0,4
15,SEDAN TYPE,BMW,BMW 7 series,3000,AT,G,NaN,NaN,NaN,NaN,4X4,4.0,4
16,SEDAN TYPE,MERCEDES-BENZ PC,C180,1991,AT,G,41.0,2030,"4,686 x 2,020 x 1,442",5,4X2,4.0,4
17,SEDAN TYPE,MERCEDES-BENZ PC,C 200 AVA,1991,AT,G,66.0,2030,"4,686 x 2,020 x 1,442",5,4X2,4.0,4
18,SEDAN TYPE,MERCEDES-BENZ PC,C 300 AMG,1991,AT,G,66.0,2135,"4,702 x 2,020 x 1,432",5,4X2,4.0,4
19,SEDAN TYPE,MERCEDES-BENZ PC,E 200 AVA,1991,AT,G,66.0,2265,"4,686 x 2,065 x 1,468",5,4X2,4.0,4

Mem-print brand beserta type / model setiap baris untuk melihat pola penamaan type / model setiap brand

In [12]:
for i in df.index:
    print(df.loc[i,'BRAND'], df.loc[i,'TYPE / MODEL'])

TOYOTA VIOS D (LOW GRADE)
TOYOTA VIOS R (MID GRADE)
TOYOTA VIOS D (LOW GRADE)
TOYOTA VIOS R (MID GRADE)
TOYOTA VIOS G (HIGH GRADE)
TOYOTA VIOS R (MID GRADE)
TOYOTA VIOS D (LOW GRADE)
TOYOTA VIOS G (HIGH GRADE)
TOYOTA VIOS R (MID GRADE)
TOYOTA VIOS G (HIGH GRADE)
TOYOTA VIOS R (MID GRADE)
BMW BMW 320
BMW BMW 328/330
BMW BMW 520
BMW BMW 528/530
BMW BMW 7 series
MERCEDES-BENZ PC C180
MERCEDES-BENZ PC C 200 AVA
MERCEDES-BENZ PC C 300 AMG
MERCEDES-BENZ PC E 200 AVA
MERCEDES-BENZ PC E 300 AVA
MERCEDES-BENZ PC E 350 AMG
MERCEDES-BENZ PC S 450
DAIHATSU Grand New  Xenia 1.3 X MT
DAIHATSU Grand New  Xenia 1.3 X AT
DAIHATSU Grand New  Xenia 1.3 R MT
DAIHATSU Grand New  Xenia 1.3 R AT
DAIHATSU Grand New  Xenia 1.5 R MT
DAIHATSU Grand New  Xenia 1.5 R AT
DAIHATSU Luxio 1.5 D (New )
DAIHATSU Luxio 1.5 X MT (New )
DAIHATSU Luxio 1.5 X AT (New )
DAIHATSU All New  Terios X AT
DAIHATSU All New  Terios R MT
DAIHATSU All New  Terios R AT
DAIHATSU All New  Terios R MT
DAIHATSU All New  Terios Custom MT
DAIHATSU All New  Terios Custom AT
DAIHATSU Gran Max BV 1.3
DAIHATSU Gran Max MB 1.3 HI
DAIHATSU Gran Max MB 1.3 HI  FF
DAIHATSU Gran Max MB 1.5 HI
DFSK GLORY 580 1.5T A/T CVT LUXURY
DFSK GLORY 580 1.5T A/T CVT COMFORT
DFSK GLORY 560 1.5T 6M/T BASIC
DFSK GLORY I0AUTO
HONDA All New  Jazz S
HONDA All New  Jazz RS
HONDA All New  Jazz RS
HONDA New  Mobilio S
HONDA New  Mobilio E
HONDA New  Mobilio E
HONDA New  Mobilio RS
HONDA New  Mobilio RS
HONDA HR-V S
HONDA HR-V S
HONDA HR-V E
HONDA HR-V E+
HONDA HR-V Prestige
HONDA BR-V E+
HONDA BR-V E+
HONDA BR-V E PRESTIGE +
HONDA All New  CR-V Prestige
HONDA All New  CR-V
HONDA Brio RS
HONDA Brio RS
MITSUBISHI MOTORS Xpander 1.5L Ultimate (4X2) A/T
MITSUBISHI MOTORS Xpander 1.5L Sport (4X2) A/T
MITSUBISHI MOTORS Xpander 1.5L Sport (4X2) M/T
MITSUBISHI MOTORS Xpander 1.5L Exceed (4X2) A/T
MITSUBISHI MOTORS Xpander 1.5L Exceed (4X2) M/T
MITSUBISHI MOTORS Xpander 1.5L GLS (4X2) A/T
MITSUBISHI MOTORS Xpander 1.5L GLS (4X2) M/T
MITSUBISHI MOTORS Xpander 1.5L GLX (4X2) M/T
MITSUBISHI MOTORS Xpander 1.5 2WD 4AT M YET
MITSUBISHI MOTORS Xpander 1.5 2WD 4AT H YET
MITSUBISHI MOTORS Xpander 1.5 2WD 5MT M VET
MITSUBISHI MOTORS Xpander 1.5 2WD 4AT Q VET
MITSUBISHI MOTORS Xpander 1.5 2WD 4AT P MMTH
MITSUBISHI MOTORS Xpander 1.5 2WD 5MT M PHL
MITSUBISHI MOTORS Xpander 1.5 2WD 4AT H PHL
MITSUBISHI MOTORS Xpander 1.5 2WD 4AT P PHL
MITSUBISHI MOTORS Xpander 1.5 2WD 4AT P+ PHL
MITSUBISHI MOTORS Xpander 1.5 2WD 4AT M GEXP
MITSUBISHI MOTORS Xpander 1.5 2WD 4AT H GEXP
MITSUBISHI MOTORS Xpander 1.5 2WD 4AT Q BGD
MITSUBISHI MOTORS Xpander 1.5 2WD 5MT M BGD
MITSUBISHI MOTORS Xpander 1.5 2WD 4AT H MUS
MITSUBISHI MOTORS Xpander 1.5 2WD 5MT H GEXP
MITSUBISHI MOTORS Xpander Cross 1.5L PREMIUM (4X2) A/T
MITSUBISHI MOTORS Xpander Cross 1.5L (4X2) A/T
MITSUBISHI MOTORS Xpander Cross 1.5L (4X2) M/T
MITSUBISHI MOTORS Xpander 1.5L (4X2) MT BLACK EDITION
MITSUBISHI MOTORS Xpander 1.5L (4X2) AT BLACK EDITION
MITSUBISHI MOTORS Xpander Croos 1.5L (4X2) BLACK EDITION
MITSUBISHI MOTORS Xpander 1.5 2WD 4AT P+ PHL
MITSUBISHI MOTORS Xpander 1.5 2WD 5MT M SN
MITSUBISHI MOTORS Xpander 1.5 2WD 5MT M PE
MITSUBISHI MOTORS Xpander 1.5 2WD 4AT H PE
MITSUBISHI MOTORS Xpander 1.5 2WD 4AT P SN
MITSUBISHI MOTORS Xpander 1.5 2WD 4AT P MMTH
MITSUBISHI MOTORS Xpander 1.5 2WD 4AT Q VET
MITSUBISHI MOTORS Xpander 1.5 2WD 4AT P NP
MITSUBISHI MOTORS Xpander 1.5 2WD 4AT H GCC
MITSUBISHI MOTORS Xpander 1.5 2WD 4AT M GCC
MITSUBISHI MOTORS Xpander 1.5 2WD 4AT H SAU
MITSUBISHI MOTORS Xpander 1.5 2WD 4AT M SAU
MITSUBISHI MOTORS Livina E 1.5 (4x2) M/T
MITSUBISHI MOTORS Livina VE 1.5 (4x2) A/T
MITSUBISHI MOTORS Livina VL 1.5 (4x2) A/T
SUZUKI APV0GE
SUZUKI APV0GL
SUZUKI APV0GX
SUZUKI APV SGX
SUZUKI All New  Ertiga 02 GA
SUZUKI All New  Ertiga 02 GL MT
SUZUKI All New  Ertiga 02 GX MT
SUZUKI All New  Ertiga 02 GL AT
SUZUKI All New  Ertiga 02 GX AT
SUZUKI All New  Ertiga 02 SS MT
SUZUKI All New  Ertiga 02 SS AT
SUZUKI XL07 ZETA MT
SUZUKI XL07 ZETA AT
SUZUKI XL07 BETA MT
SUZUKI XL07 BETA AT
SUZUKI XL07 ALPHA MT
SUZUKI XL07 ALPHA AT
TOYOTA YARIS G (HIGH GRADE)
TOYOTA YARIS V (SPORT GRADE)
TOYOTA YARIS G (HIGH GRADE)
TOYOTA YARIS V (SPORT GRADE)
TOYOTA Sienta 1.5 G M/T
TOYOTA Sienta 1.5 V M/T
TOYOTA Sienta 1.5 E M/T
TOYOTA Sienta 1.5 G M/T
TOYOTA Sienta 1.5 G M/T
TOYOTA Sienta 1.5 V M/T
TOYOTA Sienta 1.5 V M/T
TOYOTA Sienta 1.5 G M/T
TOYOTA AVANZA 1.3 E M/T (UK)+(P3)
TOYOTA AVANZA 1.3 E M/T non ABS (XR)+(PX)
TOYOTA AVANZA 1.3 Transmover M/T (EE)+(P4)+(5Z)
TOYOTA AVANZA 1.3 E A/T (UU)+(V9)
TOYOTA AVANZA 1.3 E A/T non ABS (XS)+(W2)
TOYOTA AVANZA 1.3 G M/T (UQ)+(UQ)+(V5)
TOYOTA AVANZA 1.3 G A/T (UV)+(W3)
TOYOTA AVANZA 1.3 M/T Veloz (UT)+(V8)
TOYOTA AVANZA 1.3 A/T Veloz (UX)+(W5)
TOYOTA AVANZA 1.5 G M/T (WQ)+(WQ)+2K
TOYOTA AVANZA 1.5 M/T Veloz (WS)+(2P)+(2P)
TOYOTA AVANZA 1.5 A/T Veloz (WY)+(2V)
TOYOTA AVANZA EXPORT
TOYOTA TOWN / LITE
TOYOTA RUSH 1.5 G M/T (FB)+(FB)
TOYOTA RUSH 1.5 G A/T (FL)+(FL)
TOYOTA RUSH 1.5 S M/T (FA)
TOYOTA RUSH 1.5 S A/T (FC)
TOYOTA RUSH 1.5 Export
WULING Confero S 1.5
WULING Confero S 1.5C
WULING Confero S 1.5L
WULING Confero S 1.5L ACT
WULING Cortez 1.5C T MT
WULING Cortez 1.5C T CVT
WULING Cortez 1.5L T CVT
WULING Cortez 1.5L T CVT
WULING Formo 1.2 BV
WULING Formo 1.2
WULING Almaz 1.5E+ T CVT
WULING Almaz 1.5SE T CVT
WULING Almaz 1.5SE T MT
WULING Captiva 1.5 T LV1 + CVT (4x2) A/T
WULING Captiva 1.5 T LV2 + CVT (4x2) A/T
WULING Captiva 1.5 T LV0 CVT (4x2)
BMW BMW X1
MINI Cooper
DFSK GLORY 580 1.8 CVT LUXURY
HONDA All New  CR-V
HYUNDAI HIM H01 2.4
HYUNDAI HIM H01 2.5 CRDi
HYUNDAI HIM Starex 2.5 CRDi
HYUNDAI HIM Starex 2.5 (Export)
ISUZU Panther LM
ISUZU Panther LV
ISUZU Panther LS
ISUZU Panther G Touring MT
MITSUBISHI MOTORS Pajero SPORT 2.4L DAKAR (4x2) 8AT
MITSUBISHI MOTORS Pajero SPORT 2.4L DAKAR (4x2) 8AT RF Black Edition
MITSUBISHI MOTORS Pajero Sport 2.4L DAKAR Utimate (4x2) 8AT
MITSUBISHI MOTORS Pajero Sport 2.5L EXCEED (4x2) 5A"
MERCEDES-BENZ PC GLC 200 AMG ( FL )
SUZUKI APV0GE
SUZUKI APV0GL
SUZUKI APV0GX
SUZUKI APV SGX
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA INNOVA
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
WULING Cortez 1.8C AT
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
BMW BMW X3
BMW BMW X5
BMW BMW X7
MERCEDES-BENZ PC GLE 450 (V167)
MERCEDES-BENZ PC GLS 450 (X167)
MITSUBISHI MOTORS Pajero Sport 2.4L DAKAR (4x4) 8AT
MITSUBISHI MOTORS Pajero Sport 2.4L DAKAR (4x4) 8AT
MITSUBISHI MOTORS Pajero Sport 2.5L GLX (4x4) 5MT
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
TOYOTA FORTUNER
HINO FB2WGLZ0EN (FB130)
HINO WU302R0HRMLHD8 1100SDB(110SDB) LOT YM
HINO WU342R0HRMLHD8 (110SD0BL04.6) LOT YU
HINO WU352R0HKMRJD8 (130MD0BL05.1) LOT ZP
MITSUBISHI FUSO FE 71 BC 0 4 W
MITSUBISHI FUSO FE 84G BC 0 6 W
HINO AK8JRKA0FCJ (A215)
HINO RK8JSKA0NHJ (R260)
HINO FC9JNKA0NNJB
HINO RN8JSPA0SJJ
MERCEDES-BENZ CV OH 1526
MERCEDES-BENZ CV OH 1626 L MT
MERCEDES-BENZ CV OH 1626 L AT
MERCEDES-BENZ CV O 500 RS 1836
DAIHATSU Gran Max PU 1.3 STD
DAIHATSU Gran Max PU 1.3 30WAY
DAIHATSU Gran Max PU 1.3 Deckless
DAIHATSU Gran Max PU 1.5 STD
DAIHATSU Gran Max PU 1.5 30WAY
ISUZU Panther PU STD
ISUZU Panther PU GD 3 Way
ISUZU Traga
MITSUBISHI MOTORS L300 D P/U FLD
MITSUBISHI MOTORS L300 D P/U STD
MITSUBISHI MOTORS L300 D CC
SUZUKI New  Carry PU FD
SUZUKI New  Carry PU WD
SUZUKI New  Carry CH
DFSK DFSK DXK1021TYD1 1.3T AC STD (4X2) MT
DFSK DFSK DXK1021TYQ1 1.5 AC STD (4X2) MT
HINO WU302R0HKMLHD3 ( DUTRO 110HD0STD )
HINO WU302R0HKMLHD8 ( DUTRO 130MD0STD )
HINO WU342R0HKMLHD8 ( DUTRO 130MD0L)
HINO WU342R0HKMQHD8 (DUTRO 130HD0STD06.4)
HINO WU352R0HKMQHD8 (130HD0L05.8)
HINO WU342R0HKMRHD3 (130MD05.1)
HINO WU352R-HKMRJD8 (130MDL)
HINO WU352R-HAMTJD8 (130HD-5.8)
HINO WU342R0HKMTJD3 (DUTRO EXPORT (110HD0PS)
HINO WU352R0HAMTJD8 (DUTRO 110LD0L0PS05.5)
HINO WU342R0HKMRJD8 (DUTRO 130MD0L0PS05.8)
HINO WU302L0HKMLHD3
HINO WU342L0HKMTJD3
HINO XZU302L0HKMLHD8
HINO XZU342L0HKMLKD8
HINO XZU342L0HKMRKD8
HINO XZU342L0HRMLKD1
HINO XZU342L0HKMLKD8
HINO XZU342L0HKMLKD8
HINO XZU342L0HKMTKD3
HINO XZU353L0HKMRKD8
ISUZU NQR71 EC
ISUZU NMR71T SD
ISUZU NMR71T HD 5.8
ISUZU NPS 75
ISUZU FRR90
ISUZU NLR55 T
ISUZU NLR71 T
ISUZU NLR55 B
ISUZU NLR71 BL
ISUZU NMR71T SDL
MITSUBISHI FUSO FE 71 0 4 W
MITSUBISHI FUSO FE 73 0 6 W
MITSUBISHI FUSO FE 73 HD 0 6 W
MITSUBISHI FUSO FE 74 HDV 0 6 W
MITSUBISHI FUSO FE 74 S 0 6 W
MITSUBISHI FUSO FE 75 SUPER HD 0 6 W
MITSUBISHI FUSO FE 84 0 6 W
MITSUBISHI FUSO FE 84 SHD - 6 W
TOYOTA DYNA
TOYOTA DYNA
TOYOTA DYNA
HINO FG8JE1B0BGJ
HINO FG8JJ1D0BGJ
HINO FG8JK1A0BGJ
HINO FG8JK1A0JGJ
HINO FG8JL1A0BGJ
HINO FC9JNKA0NNJ
HINO SG8JE1B0EGJ
HINO SG8JE1B0XGJ
HINO FG8JM1A0DGJ
HINO FG8JL1A0JGJ
HINO FG8JP1A0BGJ
HINO FG8JM1A0PGJ
HINO FG8JS1A0BGJ
HINO FG8JS1A0BGJL
ISUZU FVR34L
ISUZU GVR34H
ISUZU FTR90L
ISUZU FVR 34 P TH
ISUZU FVR34P
ISUZU FVR34S
MITSUBISHI FUSO FM 517 HS (4X2)
MITSUBISHI FUSO FM 517 HL (4X2)
MITSUBISHI FUSO FM 65 FS HI GEAR (4X2)
MITSUBISHI FUSO FM 65 FSL (4X2)
MITSUBISHI FUSO FN 61 FL  (6X2)
MITSUBISHI FUSO FN 61 FL HD  (6X2)
MITSUBISHI FUSO FN 62 FL HD (6X4)
MITSUBISHI FUSO FN 517 ML2 (6X2)
HINO FL8JN1A0BGJ
HINO FL8JN1A0JGJ
HINO FL8JT1A0EGJ
HINO FL8JW1A0BGJ
HINO FL8JW1A0EGJ
HINO FL8JW1A0JGJ
HINO FM8JK1B0SGJ
HINO FM8JK1B0XGJ
HINO FM8JK1M0EGJ
HINO FM8JN1D0EGJ
HINO FM8JW1A0EGJ
HINO FM8JW1A0XGJ
HINO FM2PK1B0MGJ
HINO FM2PL1D0MGJ
HINO FM2PN1D0MGJ
ISUZU GVZ34K
ISUZU FVZ34 T LWB
ISUZU GXZ 60 K ABS
ISUZU FVM34 Q
ISUZU GVR 34 J HR ABS
ISUZU GVZ 34 K HP ABS
MITSUBISHI FUSO FN 527 ML  (6X4)
MITSUBISHI FUSO FN 62 F HD (6X4)
MITSUBISHI FUSO FN 62 F TH (6X4)
MITSUBISHI FUSO FN 527 MS  (6X4)
MERCEDES-BENZ CV Axor 2528 C
MERCEDES-BENZ CV Axor 2528 RMC
UD TRUCK GKE28042T
UD TRUCK CDE25062R
UD TRUCK CDE28062R
UD TRUCK CWE28064R
UD TRUCK GWE28064T
UD TRUCK GWE33064T
UD TRUCK GWE37064T
DAIHATSU New  Ayla 1.0 D
DAIHATSU New  Ayla 1.0 D+
DAIHATSU New  Ayla 1.0 M MT
DAIHATSU New  Ayla 1.0 M AT
DAIHATSU New  Ayla 1.0 X MT
DAIHATSU New  Ayla 1.0 X AT
DAIHATSU New  Ayla 1.0 X MT (Airbag)
DAIHATSU New  Ayla 1.0 X AT (Airbag)
DAIHATSU New  Ayla 1.2 X MT (Airbag)
DAIHATSU New  Ayla 1.2 X AT (Airbag)
DAIHATSU New  Ayla 1.2 R MT (Airbag)
DAIHATSU New  Ayla 1.2 R AT (Airbag)
DAIHATSU New  Ayla 1.0 D (MC 2020)
DAIHATSU New  Ayla 1.0 D+ (MC 2020)
DAIHATSU New  Ayla 1.0 X MT (MC 2020)
DAIHATSU New  Ayla 1.0 X AT (MC 2020)
DAIHATSU New  Ayla 1.2 X MT (MC 2020)
DAIHATSU New  Ayla 1.2 X AT (MC 2020)
DAIHATSU New  Ayla 1.2 R MT (MC 2020)
DAIHATSU New  Ayla 1.2 R AT (MC 2020)
DAIHATSU New  Sigra 1.0 D MT
DAIHATSU New  Sigra 1.0 M MT
DAIHATSU New  Sigra 1.2 X MT
DAIHATSU New  Sigra 1.2 X AT
DAIHATSU New  Sigra 1.2 R MT
DAIHATSU New  Sigra 1.2 R AT
DATSUN Datsun GO+ D 1.2 MT
DATSUN Datsun GO+ A 1.2 MT
DATSUN Datsun GO+ A 1.2 CVT
DATSUN Datsun GO+ T 1.2 MT
DATSUN Datsun GO+ T STYLE 1.2 CVT
DATSUN New  Datsun GO D MT
DATSUN New  Datsun GO A MT
DATSUN New  Datsun Go T active MT
DATSUN Datsun Go Live MT
HONDA Brio SATYA S
HONDA Brio SATYA E
HONDA Brio SATYA E
SUZUKI Karimun Wagon R GL
SUZUKI Karimun Wagon R GS
SUZUKI Karimun Wagon R GL AT
SUZUKI Karimun Wagon R GS AT
TOYOTA AGYA 1.0 G M/T (CG)+(D4)+(CG)
TOYOTA AGYA 1.0 G A/T (CL)+(57)
TOYOTA AGYA 1.2 G M/T (DQ)+(DQ)+(DQ)+(6Q)
TOYOTA AGYA 1.2 G M/T (DR)+(DR)+(6R)TRD S Edition
TOYOTA AGYA 1.2 G A/T (DT)+(DT)+(6S)+(DT)
TOYOTA AGYA 1.2 G A/T (DS)+(6T)+(DS)
TOYOTA AGYA EXPORT
TOYOTA CALYA 1.2 E M/T (ZB)+(3A)
TOYOTA CALYA 1.2 E M/T (29)+(EA)
TOYOTA CALYA 1.2 G M/T (ZC)+(5M)+(3B)
TOYOTA CALYA 1.2 G A/T (ZF)+(3E)+(5N)
TOYOTA CALYA (3R)
TOYOTA CALYA (3S)
TOYOTA CALYA (3T)
TOYOTA CALYA (3V)
TOYOTA CALYA (3W)

Mendefinisikan satu-satu model type valid

In [13]:
valid_model_type= ['TOYOTA VIOS', 'BMW 3', 'BMW 5', 'BMW 7', 'MERCEDES-BENZ PC', 'DAIHATSU Grand New  Xenia', 'DAIHATSU Luxio', 'DAIHATSU All New Terios', 'DAIHATSU Gran Max', 'DFSK GLORY', 'HONDA All New Jazz', 'HONDA New  Mobilio', 'HONDA HR-V', 'HONDA BR-V', 'HONDA All New CR-V', 'HONDA Brio', 'MITSUBISHI MOTORS', 'SUZUKI APV', 'SUZUKI All New Ertiga', 'SUZUKI XL07', 'TOYOTA YARIS', 'TOYOTA Sienta', 'TOYOTA AVANZA', 'TOYOTA RUSH', 'WULING Confero', 'WULING Cortez', 'WULING Formo', 'WULING Almaz', 'WULING Captiva', 'BMW X1', 'MINI Cooper', 'DFSK GLORY', 'HYUNDAI HIM', 'ISUZU Panther', 'TOYOTA INNOVA', 'TOYOTA FORTUNER', 'BMW X3', 'BMW X5', 'BMW X7', 'HINO FB', 'HINO WU', 'MITSUBISHI FUSO', 'HINO AK', 'HINO RK', 'HINO FC', 'HINO RN', 'MERCEDES-BENZ CV', 'ISUZU Traga', 'SUZUKI New Carry', 'DFSK DXK', 'HINO XZU', 'ISUZU NQR', 'ISUZU NMR', 'ISUZU NPS', 'ISUZU FRR', 'ISUZU NLR', 'TOYOTA DYNA', 'HINO FG', 'ISUZU FVR', 'ISUZU GVR', 'ISUZU FTR', 'HINO FL', 'HINO FM', 'ISUZU GVZ', 'ISUZU FVZ', 'ISUZU GXZ', 'ISUZU FVM', 'UD GKE', 'UD CDE', 'UD CWE', 'UD GWE', 'DAIHATSU New Ayla', 'DAIHATSU New Sigra', 'DATSUN GO', 'HONDA Brio', 'SUZUKI Karimun', 'TOYOTA AGYA', 'TOYOTA CALYA', 'TOYOTA TOWN / LITE', 'HINO SG']
valid_model_type_by_brand= {}

for i in valid_model_type:
    j= i.split(' ')
    brand= j[0].upper()
    type_model= (' '.join([str(i) for i in j[1:]])).upper().replace('  ', ' ')
    
    if(brand not in valid_model_type_by_brand):
        valid_model_type_by_brand[brand]= set([])
        
    valid_model_type_by_brand[brand].add(type_model)

Menampilkan model type valid

In [14]:
valid_model_type_by_brand

{'TOYOTA': {'AGYA',
  'AVANZA',
  'CALYA',
  'DYNA',
  'FORTUNER',
  'INNOVA',
  'RUSH',
  'SIENTA',
  'TOWN / LITE',
  'VIOS',
  'YARIS'},
 'BMW': {'3', '5', '7', 'X1', 'X3', 'X5', 'X7'},
 'MERCEDES-BENZ': {'CV', 'PC'},
 'DAIHATSU': {'ALL NEW TERIOS',
  'GRAN MAX',
  'GRAND NEW XENIA',
  'LUXIO',
  'NEW AYLA',
  'NEW SIGRA'},
 'DFSK': {'DXK', 'GLORY'},
 'HONDA': {'ALL NEW CR-V',
  'ALL NEW JAZZ',
  'BR-V',
  'BRIO',
  'HR-V',
  'NEW MOBILIO'},
 'MITSUBISHI': {'FUSO', 'MOTORS'},
 'SUZUKI': {'ALL NEW ERTIGA', 'APV', 'KARIMUN', 'NEW CARRY', 'XL07'},
 'WULING': {'ALMAZ', 'CAPTIVA', 'CONFERO', 'CORTEZ', 'FORMO'},
 'MINI': {'COOPER'},
 'HYUNDAI': {'HIM'},
 'ISUZU': {'FRR',
  'FTR',
  'FVM',
  'FVR',
  'FVZ',
  'GVR',
  'GVZ',
  'GXZ',
  'NLR',
  'NMR',
  'NPS',
  'NQR',
  'PANTHER',
  'TRAGA'},
 'HINO': {'AK', 'FB', 'FC', 'FG', 'FL', 'FM', 'RK', 'RN', 'SG', 'WU', 'XZU'},
 'UD': {'CDE', 'CWE', 'GKE', 'GWE'},
 'DATSUN': {'GO'}}

Mengaplikasikan format type / model yang valid pada df. Lalu menyimpan nama jenis mobil + brand + type / model valid pada sebuah list

In [15]:
type_list= []
for i in df.index:
    p= 0
    res_list= []
    car_type= df.loc[i, 'CAR TYPE'].replace('TYPE','').strip()
    brand= df.loc[i,'BRAND'].upper()
    model_type= df.loc[i,'TYPE / MODEL'].upper().replace('  ', ' ')
    
    if(brand in valid_model_type_by_brand):
        for j in valid_model_type_by_brand[brand]:
            if(j in model_type):
                res_list.append(j)
                p+= 100
                
                
    else:
        for k in valid_model_type_by_brand.keys():
            if(k in brand):
                brand= k
                k.upper().replace('  ', ' ')
                break
        
        if(brand in ['MERCEDES-BENZ','MITSUBISHI','HYUNDAI']):
            for l in valid_model_type_by_brand[brand]:
                if(l in df.loc[i, 'BRAND']):
                    res_list.append(l)
                    p+= 10
                    
                
        else:
            for m in valid_model_type_by_brand[brand]:
                if(m in model_type):
                    res_list.append(m)
                    p+= 1
    
    if(len(res_list)>1):
        if('BMW' in model_type):
            model_type_temp= model_type.split(' ')
            if('X' in model_type_temp[1]):
                model_type2= ''.join([i for i in res_list if 'X' in i])
            else:
                model_type2= model_type_temp[1][0]

        if('HINO' in brand):
            for i in res_list:
                if(i==model_type[:2] or i==model_type[:3]):
                    model_type2= i
                    break
                
                
    if(len(res_list)>1):
        type_list.append(f'{car_type} {brand} {model_type2}')
    else:
        type_list.append(f'{car_type} {brand} {res_list[0]}')

Membuat kolom baru yang yang menampung tipe mobil (seperti sedan, truck, dll), brand, dan model. Nantinya kolom ini yang akan menjadi kolom target. Selanjutnya menghapus 3 kolom redundant tersebut

In [16]:
df['TYPE_BRAND_MODEL']= type_list
df2= df.copy()

df2.drop(['CAR TYPE', 'BRAND', 'TYPE / MODEL'], axis=1, inplace=True)

df2

,CC,TRANS,FUEL (G/D),TANK CAPT,GVW (Kg),DIMENSION P x L x T,SEATER,DRIVE SYS.,DOOR,WHEELS,TYPE_BRAND_MODEL
0,1500,MT,G,42.0,1080,4410X1700X1475,5,4X2,4.0,4,SEDAN TOYOTA VIOS
1,1500,MT,G,42.0,1080,4410X1700X1475,5,4X2,4.0,4,SEDAN TOYOTA VIOS
2,1500,CVT,G,42.0,1080,4410X1700X1475,5,4X2,4.0,4,SEDAN TOYOTA VIOS
3,1500,CVT,G,42.0,1080,4410X1700X1475,5,4X2,4.0,4,SEDAN TOYOTA VIOS
4,1500,CVT,G,42.0,1080,4410X1700X1475,5,4X2,4.0,4,SEDAN TOYOTA VIOS
...,...,...,...,...,...,...,...,...,...,...,...
486,1200,NaN,G,NaN,NaN,NaN,7,4X2,4.0,4,AFFORDABLE ENERGY SAVING CARS 4X2 TOYOTA CALYA
487,1200,NaN,G,NaN,NaN,NaN,7,4X2,4.0,4,AFFORDABLE ENERGY SAVING CARS 4X2 TOYOTA CALYA
488,1200,NaN,G,NaN,NaN,NaN,7,4X2,4.0,4,AFFORDABLE ENERGY SAVING CARS 4X2 TOYOTA CALYA
489,1200,NaN,G,NaN,NaN,NaN,7,4X2,4.0,4,AFFORDABLE ENERGY SAVING CARS 4X2 TOYOTA CALYA
490,1200,NaN,G,NaN,NaN,NaN,7,4X2,4.0,4,AFFORDABLE ENERGY SAVING CARS 4X2 TOYOTA CALYA

Fitur ekstraksi

Mengekstrak panjang, lebar, dan tinggi dari kolom panjang x lebar x tinggi

In [17]:
length_list= []
width_list= []
height_list= []

for i in df2.index:
    dimension= df2.loc[i,'DIMENSION P x L x T']
    if(dimension is not np.nan):
        dimension_list= dimension.upper().split('X')
        if(len(dimension_list)==3):
            length_list.append(int(dimension_list[0].replace(',','').replace('.','').strip()))
            width_list.append(int(dimension_list[1].replace(',','').replace('.','').strip()))
            height_list.append(int(dimension_list[2].replace(',','').replace('.','').strip()))
        elif(len(dimension_list)==2):
            length_list.append(int(dimension_list[0].replace(',','').replace('.','').strip()))
            width_list.append(int(dimension_list[1].replace(',','').replace('.','').strip()))
            height_list.append(np.nan)
        elif(len(dimension_list)==1):
            length_list.append(dimension_list[0].replace(',','').replace('.','').strip())
            width_list.append(np.nan)
            height_list.append(np.nan)
    else:
        length_list.append(np.nan)
        width_list.append(np.nan)
        height_list.append(np.nan)

In [18]:
df2['LENGTH']= length_list
df2['WIDTH']= width_list
df2['HEIGHT']= height_list

df2.drop('DIMENSION P x L x T', axis=1, inplace=True)

In [19]:
df2.head(20)

,CC,TRANS,FUEL (G/D),TANK CAPT,GVW (Kg),SEATER,DRIVE SYS.,DOOR,WHEELS,TYPE_BRAND_MODEL,LENGTH,WIDTH,HEIGHT
0,1500,MT,G,42.0,1080,5,4X2,4.0,4,SEDAN TOYOTA VIOS,4410.0,1700.0,1475.0
1,1500,MT,G,42.0,1080,5,4X2,4.0,4,SEDAN TOYOTA VIOS,4410.0,1700.0,1475.0
2,1500,CVT,G,42.0,1080,5,4X2,4.0,4,SEDAN TOYOTA VIOS,4410.0,1700.0,1475.0
3,1500,CVT,G,42.0,1080,5,4X2,4.0,4,SEDAN TOYOTA VIOS,4410.0,1700.0,1475.0
4,1500,CVT,G,42.0,1080,5,4X2,4.0,4,SEDAN TOYOTA VIOS,4410.0,1700.0,1475.0
5,1500,CVT,G,42.0,1080,5,4X2,4.0,4,SEDAN TOYOTA VIOS,4410.0,1700.0,1475.0
6,1500,MT,G,42.0,1080,5,4X2,4.0,4,SEDAN TOYOTA VIOS,4410.0,1700.0,1475.0
7,1500,MT,G,42.0,1080,5,4X2,4.0,4,SEDAN TOYOTA VIOS,4410.0,1700.0,1475.0
8,1500,MT,G,42.0,1080,5,4X2,4.0,4,SEDAN TOYOTA VIOS,4410.0,1700.0,1475.0
9,1500,CVT,G,42.0,1080,5,4X2,4.0,4,SEDAN TOYOTA VIOS,4410.0,1700.0,1475.0
10,1500,CVT,G,42.0,1080,5,4X2,4.0,4,SEDAN TOYOTA VIOS,4410.0,1700.0,1475.0
11,1995,AT,G,NaN,NaN,NaN,4X2,4.0,4,SEDAN BMW 3,NaN,NaN,NaN
12,2497,AT,G,NaN,NaN,NaN,4X2,4.0,4,SEDAN BMW 3,NaN,NaN,NaN
13,2000,AT,G,NaN,NaN,NaN,4X4,4.0,4,SEDAN BMW 5,NaN,NaN,NaN
14,3000,AT,G,NaN,NaN,NaN,4X4,4.0,4,SEDAN BMW 5,NaN,NaN,NaN
15,3000,AT,G,NaN,NaN,NaN,4X4,4.0,4,SEDAN BMW 7,NaN,NaN,NaN
16,1991,AT,G,41.0,2030,5,4X2,4.0,4,SEDAN MERCEDES-BENZ PC,4686.0,2020.0,1442.0
17,1991,AT,G,66.0,2030,5,4X2,4.0,4,SEDAN MERCEDES-BENZ PC,4686.0,2020.0,1442.0
18,1991,AT,G,66.0,2135,5,4X2,4.0,4,SEDAN MERCEDES-BENZ PC,4702.0,2020.0,1432.0
19,1991,AT,G,66.0,2265,5,4X2,4.0,4,SEDAN MERCEDES-BENZ PC,4686.0,2065.0,1468.0

Selanjutnya kita akan mengubah beberapa kolom bertipe objek menjadi float, namun sebelum itu kita perlu mengubah data tersebut menjadi data yang bisa diubah menjadi float (menghapus karakter-karakter string seperti '.', ',', '+', dll, melalui fungsi berikut

In [20]:
def validate_float(x):
    if(x is not np.nan):
        if('+' in x):
            return int(x.split('+')[0])+int(x.split('+')[1])
        else:
            return x.replace(',','').replace('.','').strip()
    else:
        return np.nan

In [21]:
for i in ['CC', 'GVW (Kg)', 'SEATER']:
    df2[i]= df2[i].map(validate_float).astype(float)

Merapikan data pada kolom transmission

In [22]:
def transmission_wrangling(x):
    if(x is np.nan):
        return x
    
    if('/' in x):
        if('A' in x):
            return 'AT'
        else:
            return 'MT'
    else:
        return x

df2['TRANS']= df2['TRANS'].map(transmission_wrangling)

Beberapa data pada kolom transmission dan fuel berbeda walaupun memiliki arti / nilai yang sama, maka da

In [23]:
def trans_change(x):
    if x is np.nan:
        return x
    
    if x=='MT':
        return 'Manual'
    elif x=='AT':
        return 'Otomatis'
    elif x=='CVT':
        return 'Transmisi CVT'
    
def fuel_change(x):
    if x is np.nan:
        return x
    
    if x=='G':
        return 'Bensin'
    elif x=='EV':
        return 'Listrik'
    elif x=='D':
        return 'Diesel'

In [24]:
df2['TRANS']= df2['TRANS'].map(trans_change)
df2['FUEL (G/D)']= df2['FUEL (G/D)'].map(fuel_change)

df2

,CC,TRANS,FUEL (G/D),TANK CAPT,GVW (Kg),SEATER,DRIVE SYS.,DOOR,WHEELS,TYPE_BRAND_MODEL,LENGTH,WIDTH,HEIGHT
0,1500.0,Manual,Bensin,42.0,1080.0,5.0,4X2,4.0,4,SEDAN TOYOTA VIOS,4410.0,1700.0,1475.0
1,1500.0,Manual,Bensin,42.0,1080.0,5.0,4X2,4.0,4,SEDAN TOYOTA VIOS,4410.0,1700.0,1475.0
2,1500.0,Transmisi CVT,Bensin,42.0,1080.0,5.0,4X2,4.0,4,SEDAN TOYOTA VIOS,4410.0,1700.0,1475.0
3,1500.0,Transmisi CVT,Bensin,42.0,1080.0,5.0,4X2,4.0,4,SEDAN TOYOTA VIOS,4410.0,1700.0,1475.0
4,1500.0,Transmisi CVT,Bensin,42.0,1080.0,5.0,4X2,4.0,4,SEDAN TOYOTA VIOS,4410.0,1700.0,1475.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,1200.0,NaN,Bensin,NaN,NaN,7.0,4X2,4.0,4,AFFORDABLE ENERGY SAVING CARS 4X2 TOYOTA CALYA,NaN,NaN,NaN
487,1200.0,NaN,Bensin,NaN,NaN,7.0,4X2,4.0,4,AFFORDABLE ENERGY SAVING CARS 4X2 TOYOTA CALYA,NaN,NaN,NaN
488,1200.0,NaN,Bensin,NaN,NaN,7.0,4X2,4.0,4,AFFORDABLE ENERGY SAVING CARS 4X2 TOYOTA CALYA,NaN,NaN,NaN
489,1200.0,NaN,Bensin,NaN,NaN,7.0,4X2,4.0,4,AFFORDABLE ENERGY SAVING CARS 4X2 TOYOTA CALYA,NaN,NaN,NaN
490,1200.0,NaN,Bensin,NaN,NaN,7.0,4X2,4.0,4,AFFORDABLE ENERGY SAVING CARS 4X2 TOYOTA CALYA,NaN,NaN,NaN

In [25]:
df2

,CC,TRANS,FUEL (G/D),TANK CAPT,GVW (Kg),SEATER,DRIVE SYS.,DOOR,WHEELS,TYPE_BRAND_MODEL,LENGTH,WIDTH,HEIGHT
0,1500.0,Manual,Bensin,42.0,1080.0,5.0,4X2,4.0,4,SEDAN TOYOTA VIOS,4410.0,1700.0,1475.0
1,1500.0,Manual,Bensin,42.0,1080.0,5.0,4X2,4.0,4,SEDAN TOYOTA VIOS,4410.0,1700.0,1475.0
2,1500.0,Transmisi CVT,Bensin,42.0,1080.0,5.0,4X2,4.0,4,SEDAN TOYOTA VIOS,4410.0,1700.0,1475.0
3,1500.0,Transmisi CVT,Bensin,42.0,1080.0,5.0,4X2,4.0,4,SEDAN TOYOTA VIOS,4410.0,1700.0,1475.0
4,1500.0,Transmisi CVT,Bensin,42.0,1080.0,5.0,4X2,4.0,4,SEDAN TOYOTA VIOS,4410.0,1700.0,1475.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,1200.0,NaN,Bensin,NaN,NaN,7.0,4X2,4.0,4,AFFORDABLE ENERGY SAVING CARS 4X2 TOYOTA CALYA,NaN,NaN,NaN
487,1200.0,NaN,Bensin,NaN,NaN,7.0,4X2,4.0,4,AFFORDABLE ENERGY SAVING CARS 4X2 TOYOTA CALYA,NaN,NaN,NaN
488,1200.0,NaN,Bensin,NaN,NaN,7.0,4X2,4.0,4,AFFORDABLE ENERGY SAVING CARS 4X2 TOYOTA CALYA,NaN,NaN,NaN
489,1200.0,NaN,Bensin,NaN,NaN,7.0,4X2,4.0,4,AFFORDABLE ENERGY SAVING CARS 4X2 TOYOTA CALYA,NaN,NaN,NaN
490,1200.0,NaN,Bensin,NaN,NaN,7.0,4X2,4.0,4,AFFORDABLE ENERGY SAVING CARS 4X2 TOYOTA CALYA,NaN,NaN,NaN

In [26]:
df2.isna().sum()

CC                   55
TRANS                65
FUEL (G/D)            2
TANK CAPT           108
GVW (Kg)            138
SEATER               89
DRIVE SYS.            1
DOOR                 13
WHEELS                0
TYPE_BRAND_MODEL      0
LENGTH              107
WIDTH               107
HEIGHT              111
dtype: int64

In [27]:
temp= df2['TYPE_BRAND_MODEL']
df2.drop('TYPE_BRAND_MODEL', axis='columns', inplace=True)
df2['TYPE_BRAND_MODEL']= temp

df2

,CC,TRANS,FUEL (G/D),TANK CAPT,GVW (Kg),SEATER,DRIVE SYS.,DOOR,WHEELS,LENGTH,WIDTH,HEIGHT,TYPE_BRAND_MODEL
0,1500.0,Manual,Bensin,42.0,1080.0,5.0,4X2,4.0,4,4410.0,1700.0,1475.0,SEDAN TOYOTA VIOS
1,1500.0,Manual,Bensin,42.0,1080.0,5.0,4X2,4.0,4,4410.0,1700.0,1475.0,SEDAN TOYOTA VIOS
2,1500.0,Transmisi CVT,Bensin,42.0,1080.0,5.0,4X2,4.0,4,4410.0,1700.0,1475.0,SEDAN TOYOTA VIOS
3,1500.0,Transmisi CVT,Bensin,42.0,1080.0,5.0,4X2,4.0,4,4410.0,1700.0,1475.0,SEDAN TOYOTA VIOS
4,1500.0,Transmisi CVT,Bensin,42.0,1080.0,5.0,4X2,4.0,4,4410.0,1700.0,1475.0,SEDAN TOYOTA VIOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,1200.0,NaN,Bensin,NaN,NaN,7.0,4X2,4.0,4,NaN,NaN,NaN,AFFORDABLE ENERGY SAVING CARS 4X2 TOYOTA CALYA
487,1200.0,NaN,Bensin,NaN,NaN,7.0,4X2,4.0,4,NaN,NaN,NaN,AFFORDABLE ENERGY SAVING CARS 4X2 TOYOTA CALYA
488,1200.0,NaN,Bensin,NaN,NaN,7.0,4X2,4.0,4,NaN,NaN,NaN,AFFORDABLE ENERGY SAVING CARS 4X2 TOYOTA CALYA
489,1200.0,NaN,Bensin,NaN,NaN,7.0,4X2,4.0,4,NaN,NaN,NaN,AFFORDABLE ENERGY SAVING CARS 4X2 TOYOTA CALYA
490,1200.0,NaN,Bensin,NaN,NaN,7.0,4X2,4.0,4,NaN,NaN,NaN,AFFORDABLE ENERGY SAVING CARS 4X2 TOYOTA CALYA

Categorical encoding dengan one hot encode

In [28]:
X= df2.drop('TYPE_BRAND_MODEL', axis='columns')
y= df2['TYPE_BRAND_MODEL']

df3= pd.concat([pd.get_dummies(X),y],axis=1)

df3

,CC,TANK CAPT,GVW (Kg),SEATER,DOOR,WHEELS,LENGTH,WIDTH,HEIGHT,TRANS_Manual,TRANS_Otomatis,TRANS_Transmisi CVT,FUEL (G/D)_Bensin,FUEL (G/D)_Diesel,FUEL (G/D)_Listrik,DRIVE SYS._4X2,DRIVE SYS._4X4,DRIVE SYS._6X2,DRIVE SYS._6X4,TYPE_BRAND_MODEL
0,1500.0,42.0,1080.0,5.0,4.0,4,4410.0,1700.0,1475.0,1,0,0,1,0,0,1,0,0,0,SEDAN TOYOTA VIOS
1,1500.0,42.0,1080.0,5.0,4.0,4,4410.0,1700.0,1475.0,1,0,0,1,0,0,1,0,0,0,SEDAN TOYOTA VIOS
2,1500.0,42.0,1080.0,5.0,4.0,4,4410.0,1700.0,1475.0,0,0,1,1,0,0,1,0,0,0,SEDAN TOYOTA VIOS
3,1500.0,42.0,1080.0,5.0,4.0,4,4410.0,1700.0,1475.0,0,0,1,1,0,0,1,0,0,0,SEDAN TOYOTA VIOS
4,1500.0,42.0,1080.0,5.0,4.0,4,4410.0,1700.0,1475.0,0,0,1,1,0,0,1,0,0,0,SEDAN TOYOTA VIOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,1200.0,NaN,NaN,7.0,4.0,4,NaN,NaN,NaN,0,0,0,1,0,0,1,0,0,0,AFFORDABLE ENERGY SAVING CARS 4X2 TOYOTA CALYA
487,1200.0,NaN,NaN,7.0,4.0,4,NaN,NaN,NaN,0,0,0,1,0,0,1,0,0,0,AFFORDABLE ENERGY SAVING CARS 4X2 TOYOTA CALYA
488,1200.0,NaN,NaN,7.0,4.0,4,NaN,NaN,NaN,0,0,0,1,0,0,1,0,0,0,AFFORDABLE ENERGY SAVING CARS 4X2 TOYOTA CALYA
489,1200.0,NaN,NaN,7.0,4.0,4,NaN,NaN,NaN,0,0,0,1,0,0,1,0,0,0,AFFORDABLE ENERGY SAVING CARS 4X2 TOYOTA CALYA
490,1200.0,NaN,NaN,7.0,4.0,4,NaN,NaN,NaN,0,0,0,1,0,0,1,0,0,0,AFFORDABLE ENERGY SAVING CARS 4X2 TOYOTA CALYA

Sekarang data telah siap untuk di-train, selanjutnya kita akan menggunakan xgboost classifier sebagai model karena modelnya yang bisa menangani nilai NaN serta menangani imbalance dataset